---
http_interactions:
- request:
    method: get
    uri: https://api.nike.com/me/sport/activities/2bd0fec0-3955-450b-92dd-29426a19d2f5?access_token=<ACCESS_TOKEN>&activityId=2bd0fec0-3955-450b-92dd-29426a19d2f5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - <APP_ID>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Swooshlet:
      - app-msp-api-0 prd sin-207-app-msp-api-0
    body:
      encoding: UTF-8
      string: '{"activityId":"2bd0fec0-3955-450b-92dd-29426a19d2f5","activityType":"ALL_DAY","startTime":"2014-02-09T05:00:00Z","activityTimeZone":"America/Indiana/Indianapolis","status":"IN_PROGRESS","deviceType":"FUELBAND","metricSummary":{"calories":678,"fuel":2369,"distance":6.01494836807251,"steps":7639,"duration":"5:40:00.000"},"tags":[],"metrics":[{"intervalMetric":1,"intervalUnit":"MIN","metricType":"FUEL","values":["1","1","0","0","0","0","0","0","2","0","0","0","0","1","0","0","1","1","1","5","10","8","12","7","1","2","4","1","4","5","9","11","0","3","6","3","4","2","5","5","10","1","2","1","1","18","18","11","9","9","9","5","10","7","2","2","2","2","1","2","1","1","12","6","3","0","0","0","2","1","6","19","3","9","2","8","3","1","5","3","4","2","7","4","8","4","5","9","13","8","7","10","16","16","10","1","5","6","6","1","5","1","3","1","5","8","0","2","2","3","12","14","7","6","8","5","3","4","4","18","[...]
