---
http_interactions:
- request:
    method: get
    uri: https://api.nike.com/me/sport?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - fuelband
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Swooshlet:
      - app-msp-api-0 prd sin-87-app-msp-api-0
    body:
      encoding: UTF-8
      string: '{"experienceTypes":["FUELBAND"],"summaries":[{"experienceType":"ALL","records":[{"recordType":"LIFETIMEFUEL","recordValue":"424189"}]},{"experienceType":"FUELBAND","records":[{"recordType":"LIFETIMEFUEL","recordValue":"424189"},{"recordType":"DAILYGOALTARGETVALUE","recordValue":"2250.0"},{"recordType":"CURRENTSTREAK","recordValue":"1"},{"recordType":"TOTALDAILYGOALSACHIEVED","recordValue":"127"},{"recordType":"LIFETIMEAVERAGEFUELDAY","recordValue":"2790"},{"recordType":"LIFETIMEAVERAGEFUELWEEK","recordValue":"19281"},{"recordType":"LIFETIMEAVERAGEFUELMONTH","recordValue":"70698"},{"recordType":"NUMOFACTIVITIES","recordValue":"152"}]}]}'
  recorded_at: Sun, 02 Mar 2014 07:45:37 GMT
recorded_with: VCR 2.8.0
